.show>.dropdown-menu {
    display: block;
    position: absolute;
  }
  
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn {
    margin-top: 35px;
}

.card > element {

}

.title-row {
    background-color:#ffffff;
    border-style:solid;
    border-width: 1px;
    border-color: #e5e5e5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.jumbotron-img {
    width: 100%;
}

.home-card-title {
    border-style: none;
}

.lead {
    padding-top: 15px;
}

.title-row {
    padding: 50px;
}

.card-deck {
    padding: 35px;
}

.leo {
    margin: 35px;
}

.comingtoamerica {
    width: 200px;
    height: 300px;
}

.main-div {
    height: 100vh;
}

.logo {
    width: 100px;
}

.Dicussion-Container {
    background-color:#ffffff;
    border-style:solid;
    border-width: 1px;
    border-color: #e5e5e5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.pagetitle {
    font-size: 55px;
    text-align: center;
}

.leopic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 54%;
    margin-top: 30px;
}

.leo-overrated {
    font-size: 30px;
    text-align: center;
}

.searchgif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 30px;
}

.searchtext{
    font-size: 29px;
    text-align: center;
}